body {
    font-family: Arial, sans-serif;
    background-color: #f3f6fc;
    margin: 0;
    padding: 0;
}

.container-utama {
    background-color: #ffffff;
    width: 85;
    margin: 30px auto;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    padding-bottom: 30px;
    overflow: hidden;
}

.navbar {
    background-color: #2a7de1;
    text-align: center;
    padding: 10px;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.judul {
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
}

.subjudul {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(0, 128, 255);
    padding: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ffffff;
    margin-right: 20px;
}

.tabel {
    border-collapse: collapse;
    width: 80%;
    margin: 20px auto;
}

.tabel th {
    background-color: #2a7de1;
    color: white;
    padding: 8px;
}

.tabel td {
    padding: 6px;
    background-color: #fff;
}

.bawah {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px auto;
    width: 80%;
}

.kiri, .kanan {
    width: 45%;
}

h3 {
    color: #2a7de1;
    text-align: center;
}